body {
    background-color: rgb(59, 2, 2);
    color: rgb(59, 2, 2)
}

.container-sobremim{
    width: 60%;
    background-color: blanchedalmond;
    border-radius: 2%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px auto;
    padding: 20px;
}

.tracinho{
    width: 100%;
    background-color:  rgb(53, 2, 2);
    height: 2px;
}

.menu-superior{
    display: flex;
    justify-content: center;
}

.list-nav{
    padding:0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.list-nav a {
  text-align: center;
  display: block;
  padding: 18px 24px;
  color: rgb(255, 252, 248); 
  text-decoration: none;
 font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent; /* Linha invisível por padrão */
}

.list-nav a.ativo {
  color: rgb(255, 235, 205); 
  border-bottom-color: rgb(255, 235, 205); 
}